@import url('styles.css');

.gif{
    border-radius: var(--border-radius);
    width: 100%;
    height: auto;
    opacity: 0.8;
}


.h1 {
    position: absolute;
    font-size: 30px;
    opacity: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    opacity: 0.8;
    text-shadow: 4px 4px 10px rgb(255, 226, 59);
    color: rgb(255, 247, 171);
    transition: opacity 1s ease-in-out;
    margin-top: -280px;
    margin-right: -600px;
}
.hidden {
    opacity: 0;
}
.blinking-cursor {
    font-weight: 100;
    font-size: 24px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #2E3D48;
    }
}

#audio { display: none; }
